@use "./colors.scss" as *;

header {
  padding: 16px 0 0 0;
  margin-bottom: 98px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 12px;
    padding: 0 17px;

    .logo__navbar {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }

  ul {
    display: flex;
    padding: 28px 0;

    a {
      font-weight: 500;
    }
  }
  .profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .profile {
      position: relative;

      .pulsing {
        content: "";
        position: absolute;
        bottom: 5px;
        right: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: $indicator-color;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    margin-bottom: 40px;
    .container {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 20px 10px;
    }
    .logo__navbar {
      display: block;
    }
    nav {
      display: none;
    }
    ul {
      display: none;
    }
    .profile-button {
      display: none;
      margin-left: auto;
    }
  }
}
