@use "./colors.scss" as *;
@use "./buttons.scss";
@use "./fonts.scss";
@use "./typography.scss";
@use "./header.scss";
@use "./hero.scss";
@use "./partners.scss";
@use "./showcase.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 1300px) {
    max-width: 90%;
    padding: 0 20px;
  }
}
