@use "./colors.scss" as *;
@use "./buttons.scss";
@use "./fonts.scss";
@use "./typography.scss";
@use "./toaster.scss";
@use "./header.scss";
@use "./hero.scss";
@use "./partners.scss";
@use "./showcase.scss";
@use "./story.scss";
@use "./process.scss";
@use "./cases.scss";
@use "./faq.scss";
@use "./footer.scss";

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;

  border-radius: 8px;
}

.header__link {
  padding: 10px 20px;
}
.header__link,
.primary-button,
.secondary-button,
.cta-button {
  position: relative;
  text-decoration: none;

  transition: all 0.2s ease-in-out;
  border-radius: 8px;

  &:hover {
    background-color: $indicator-color;
    opacity: 1;
    color: $black;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 1300px) {
    max-width: 90%;
    padding: 0 20px;
  }
}

.container__content {
  max-width: 95%;
  padding: 0 20px;
  margin: 0 auto;
}
