@use "./colors.scss" as *;

.partners {
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px;

  .partners__content {
    display: flex;
    flex-direction: column;

    span {
      margin-bottom: 40px;
    }

    .partners__images {
      display: flex;
      white-space: nowrap;
      padding: 0 20px;

      .partner__logo {
        img {
          flex-shrink: 0;
          width: 200px;
          max-width: fit-content;
        }
      }
    }
  }
}
