body {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 88px;
  letter-spacing: -4.8px;
  margin: 0;
  line-height: 98px;
}

p {
  letter-spacing: -0.36px;
  margin: 0;
  line-height: 27.9px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
